# See http://help.github.com/ignore-files/ for more about ignoring files.
# This file contains additional options

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
jsconfig.json

# Intellij IDEA/WebStorm
# https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.idea/inspectionProfiles/
.idea/**/compiler.xml
.idea/**/encodings.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Also ignore code styles because .editorconfig is used instead.
.idea/codeStyles/

# VSCode
# https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
**/*.code-workspace

# Typings file.
/typings

# Outputs
bazel-*
test-project-host-*
dist/
dist-schema/

# Compiled Output
/out-tsc
/vendor
/app/logs

# Misc
coverage/
node_modules/
tmp/
npm-debug.log*
yarn-error.log*
.ng_pkg_build/
.sass-cache
/connect.lock
/libpeerconnection.log
npm-debug.log
testem.log

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
!.gitkeep
